* {
  margin: 0;
  padding: 0;
  text-align: center;
}

div {
  border: 2px black solid;
}

button{
  margin: 20px;
}

.container {
  display: grid;
  margin: auto;
  border: 2px solid black;
  width: 600px;
  height: 600px;
}

.colored {
  background-color: rgb(255, 0, 0);
}
